<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello App</title>
</head>
<body>
    <h1>Suiiiiii</h1>
    <table border="1" style="border-color: navy;">
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Ronaldo</td>
            <td>40</td>
        </tr>
        <tr>
            <td>Hazard</td>
            <td>34</td>
        </tr>
        <tr>
            <td>Leo</td>
            <td>37</td>
        </tr>
    </table>
</body>
</html>
